/********************
THÈME DE COULEUR
********************/
body {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background-color: #2b112e;
  color: #fff;
}
body h1 {
  color: #2ad1a8;
  margin: 0;
}
body a {
  color: #fff;
}
body header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 0;
  background-color: #31826e;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body header nav ul li {
  padding: 15px;
}
body header nav ul li a {
  text-decoration: none;
}
body div#adresse {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px;
}
body div#adresse h1 {
  margin-top: 30px;
}
body div#adresse table {
  background-color: #2b112e;
  border-collapse: collapse;
  margin: 30px;
}
body div#adresse table th,
body div#adresse table td {
  border: 2px solid #31826e;
  padding: 10px;
}
body div#adresse form {
  display: flex;
  flex-flow: column;
  margin: 30px;
  padding: 15px;
  background-color: #2b112e;
}
body div#adresse form label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
body div#adresse form label input {
  margin-left: 30px;
}
body footer {
  background-color: #31826e;
}
