/********************
THÈME DE COULEUR
********************/
@bleu: #20A8CC;
@bleuGris: #608D99;
@vert: #42FFBE;
@orange: #FF8781;
@rose: #CC205A;



body {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: @bleuGris;

  h1 {
    color: @vert;
  }

  header {
    background-color: @bleu;
  }

  table {
    background-color: @orange;
  }

  form {
    background-color: @orange;
  }

  footer {
    background-color: @rose;
  }
}
