/********************
THÈME DE COULEUR
********************/

@mauve: #CC4ED9;
@mauveFonce: #2B112E;
@jaune: #FFD861;
@vert: #2AD1A8;
@vertFonce: #31826E;



body {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background-color: @mauveFonce;
  color: #fff;

  h1 {
    color: @vert;
    margin: 0;
  }

  a {
    color: #fff;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 0;
    background-color: @vertFonce;

    nav {
      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          padding: 15px;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  div#adresse {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px;

    h1 {
      margin-top: 30px;
    }
    table {
      background-color: @mauveFonce;
      border-collapse: collapse;
      margin: 30px;

      th, td {
        border: 2px solid @vertFonce;
        padding: 10px;
      }
    }

    form {
      display: flex;
      flex-flow: column;
      margin: 30px;
      padding: 15px;
      background-color: @mauveFonce;

      label {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        input {
          margin-left: 30px;
        }
      }
    }
  }



  footer {
    background-color: @vertFonce;
  }
}