/********************
THÈME DE COULEUR
********************/
@bleu: #20A8CC;
@bleuGris: #608D99;
@vert: #42FFBE;
@orange: #FF8781;
@rose: #CC205A;



body {
  background-color: @bleuGris;

  header {
    background-color: @bleu;
  }

  table {
    background-color: @orange;
  }

  form {
    background-color: @orange;
  }

  footer {
    background-color: @rose;
  }
}
